{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2>Profile</h2>
          <p><b>Sachin Engineers</b> was started in 2002 in order to fulfill the needs of growing industrial and manufacturing sector. We have also gained full customer satisfaction by providing best quality services and products to them. We initiated our operations over a decade ago in Delhi-NCR region and gradually expanded it throughout the country. </p>
          <p>We resharpen all major brands of carbide and HSS tools used for industrial purpose, modify them and grind specials as our daily business so as to avoid unnecessary cost involved in buying new cutting tool which in turn leads to build more trust with our customers. We also manufactures new tool as per design given by our customer.</p>
          <h5>FOUNDER AND THE MOTIVATOR</h5>
          <p class="text-darken-1">We are a small team led by <b>Mr. Arbind Kumar Kushwaha</b> who is the founder, chairman of Sachin Engineers. He has more than 20 years of rich experience in the industrial and manufacturing sector. We have been one of the best in our areas of work because of the immense knowledge and experience that he possess. 
          </p>
        </div>
    </div>
    
    <hr>
      
  </div> <!-- /container -->
{% endblock %}
